@import "tailwindcss";



/* Optional animations */
@keyframes blob {
  0%,100%{transform:translate(0,0) scale(1)}
  33%{transform:translate(20px,-30px) scale(1.05)}
  66%{transform:translate(-20px,20px) scale(0.95)}
}
.animate-blob{animation:blob 8s infinite}
.animation-delay-2000{animation-delay:2s}
